@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');
body{
    background-color: #e8e8e8;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: #444;
    width: 800px;
    margin: auto;
}
h1{
    margin: 20px 0px;
    padding-left: 20px;
    border-left: #F6D758 20px solid;
}
#caja{
    width: 200px;
    height: 200px;
    background-color: #999;
    margin-top: 30px;
}
#lista{
    list-style: none;
}
    .bullet{
        border-left: 4px solid #f60;
        margin: 12px 0px;
        padding-left: 12px;
    }